[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
z3-solver = "*"
snakeviz = "*"
cython = "*"
setuptools = "*"
unknown = {file = "src"}

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
test = "python -m unittest discover"
main = "python src/main.py"
profile-thinness = "bash profile.sh src/profile_thinness.py"
profile-backtracking = "bash profile.sh src/profile_backtracking.py"
profile = "bash profile.sh"
clean = "bash clean.sh"
