[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
z3-solver = "*"
setuptools = "*"
linetimer = "*"
cython = "*"

[dev-packages]
snakeviz = "*"

[requires]
python_version = "3"

[scripts]
test = "python -m unittest discover"
profile-thinness = "bash profile.sh profile/profile_thinness.py"
profile-backtracking = "bash profile.sh profile/profile_backtracking.py"
profile-bab = "bash profile.sh profile/profile_branch_and_bound.py"
profile = "bash profile.sh"
build = "cythonize -i **/*.pyx"
clean = "bash clean.sh"
