[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
z3-solver = "*"
cython = "*"
setuptools = "*"

[dev-packages]
snakeviz = "*"

[requires]
python_version = "3.11"

[scripts]
test = "python -m unittest discover"
profile-thinness = "bash profile.sh thinness.profile_thinness"
profile-backtracking = "bash profile.sh thinness.profile_backtracking"
profile = "bash profile.sh"
clean = "bash clean.sh"
